<%- include('header.ejs') %>

<div class="container">

  <h1><%= title %></h1>

  <p>Welcome to <%= title %></p>

  <% // contenido para usuarios NO logados %>
  <% if (!session.userId) { %>
    <p>Para ver el contenido debes hacer <a href="/login">login</a></p>
  <% } %>

  <% // contenido para usuarios logados %>
  <% if (session.userId) { %>
    <ul>
      <% productsList.map(product => { %>
        <li>
          <h2><%= product.name %></h2>
          <% product.tags.map((tag, index) => { %>
            <p>TAG <%= index + 1 %>: <%= tag %></p> 
          <% }) %>
        </li>
      <% }) %>
    </ul>
  <% } %>

</div>

<%- include('footer.ejs') %>